body{
    background-color: black;
}



.pixel{
    font-family: Karmatic Arcade, sans-serif;
    color: white;
}

.header {
    margin: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
}

.nav-button {
    color: white;
    padding-left: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.nav-button:hover {
    color: #53e753;
    transition: 0.3s;
}

.container{
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
}

#introduction{
    background-image: url(./image/AboutMe_image.png);
    background-size: cover;
    background-position: 0% 30%;
    height: 920px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    aspect-ratio: 16 / 9;
}

.introduction_inner{
    margin: auto;
    max-width: 550px;
    align-items: center;
}

.first-tab{
    color: #53e753;
    position: relative;
    top: 50px;
}

.animated-text{
    width: 100%;
    animation: typing 2s steps(30), blink .5s step-end infinite alternate;;
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    color: #53e753;
    padding-top: 70px;
    line-height: 180%;
}
@keyframes typing {
    from { 
        width: 0 
    }
}

@keyframes blink {
    50% { 
        border-color: transparent; 
    }
}

@media (max-width: 1500px) {
  #responsive-text {
    display: none;
  }
}
